/*
========================================================================================
    Nextflow config file for running tests
========================================================================================
*/

params {
    max_cpus = 2
    max_memory = 6.GB
    max_time = 1.h
}

profiles {
    conda {
		conda.enabled       = true
		singularity.enabled = false
		docker.enabled      = false
		apptainer.enabled   = false
	}
	docker {
		conda.enabled       = false
		singularity.enabled = false
		docker.enabled      = true
		apptainer.enabled   = false
		docker.runOptions   = '-u $(id -u):$(id -g)'
	}
	singularity {
		conda.enabled       = false
		singularity.enabled = true
		docker.enabled      = false
		apptainer.enabled   = false
	}
}

// Default process settings
process {
    resourceLimits = [
        cpus: params.max_cpus,
        memory: params.max_memory,
        time: params.max_time,
    ]
}