/*
========================================================================================
    Nextflow config file for running tests
========================================================================================
*/

params {
    args = ""
}

process {
    withName: RM_LOWQ_READS {
        ext.args = params.args
    }
}